@use "./variables" as *;

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

@mixin make-container() {
  width: min(1620px, 94vw);
  margin: 0 auto;
  padding-inline: clamp(1.5rem, 4vw, 2.75rem);
  position: relative;

  @include clearfix;

  @media (max-width: 400px) {
    width: 100%;
    padding-inline: 1rem;
  }

  @media (max-width: $breakpoint-lg) {
  }
}
