@use "sass:color";
@use "sass:math";

$color-eigengrau: rgba(22, 22, 29);

$color-eigengrau-transparent: rgba(22, 22, 29, 0.95);

$color-eigengrau-transparent-light: rgba(22, 22, 29, 0.9);

$color-eigengrau-light: rgba(87, 87, 116, 0.1);

$color-text: #e2e8ef;

$color-primary: rgb(52, 75, 86) !default;
$color-secondary: #345a62 !default;

$color-secondary-dark: #011820 !default;
$color-secondary-light: color.scale($color-secondary, $lightness: 20%) !default;

$slope-incline: math.asin(0.1);

/** 1200px oder schmaler */
$breakpoint-lg: 1280px !default;

/** 992px oder schmaler */
$breakpoint-md: 62em !default;

/** 768px oder schmaler */
$breakpoint-sm: 48em !default;

/** 576px oder schmaler */
$breakpoint-xs: 36em !default;

/** iPhone 12 Pro spezifischer Breakpoint */
$breakpoint-iphone12: 391px !default;  // Entspricht 390px


/** Breakpoints */
@media (max-width: $breakpoint-lg) {
}
@media (max-width: $breakpoint-iphone12) {
}
@media (max-width: $breakpoint-md) {
}
@media (max-width: $breakpoint-sm) {
}
@media (max-width: $breakpoint-xs) {
}
