@use "sass:color";
@use "sass:math";

@use "../../abstracts" as *;

$-offers-card-border-width: math.div(1rem, 16);
$-offers-card-border-color: rgba(0, 0, 0, 0.038);
$-offers-card-margin: 0.66rem;
$-half-pixel-width: math.div(1rem, 32);

.offers-container {
  @include make-container();

  & {
    flex-wrap: wrap;
    border-radius: 1rem;
    margin: 0 auto;
  }

  @media (max-width: 391px) {
    max-width: 99%;
    padding-top: 0rem;
    margin: 0 auto;
    z-index: 1;
  }
}

.offers {
  position: relative;
  padding: 12rem 0;
  z-index: 10;

  @media (max-width: 391px) {
    padding: 7rem 0 6rem 0;
  }
}

.glass-offers {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 300px;
    left: 110px;
    width: 320px;
    height: 420px;
    background: linear-gradient(120deg, #02fdba 50%, #ff0080 40%, #6a5acd 100%);
    clip-path: polygon(0 0, 100% 10, 100% 100%, 20 90%);
    opacity: 0.6;
    filter: blur(150px);
    z-index: 0;
    animation: glass-offers-move 50s linear infinite;
  }
}

@keyframes glass-offers-move {
  0% {
    left: 110px;
    top: 300px;
    transform: scale(1.04) rotate(0deg);
  }
  20% {
    left: 150px;
    top: 500px;
    transform: scale(1.04) rotate(0deg);
  }
  40% {
    left: 500px;
    top: 100px;
    transform: scale(1.04) rotate(0deg);
  }
  60% {
    left: 50px;
    top: 50px;
    transform: scale(1.04) rotate(0deg);
  }
  80% {
    left: 110px;
    top: 320px;
    transform: scale(1.04) rotate(0deg);
  }
  100% {
    left: 110px;
    top: 300px;
    transform: scale(1.04) rotate(0deg);
  }
}

/*///////////////////////////////////////////////////////////Tame the wild*/

// %offers__before-and-after {
//   top: 7rem;
//   left: 0;
//   right: 0;
//   position: absolute;
//   content: "Tame the wild";
//   text-transform: uppercase;
//   color: rgb(37, 74, 81);
//   font-size: min(calc(100vw / 1), 7rem);
//   font-weight: bold;
//   text-shadow: 0 0 1px white;
//   text-align: center;
//   z-index: 0;
//   overflow: hidden;
//   white-space: nowrap;

//   @media (max-width: $breakpoint-sm) {
//     font-size: min(calc(100vw / 1), 3rem);
//     top: 5rem;
//     }
// }

// @mixin -offers__before-and-after-stroke($color) {
//   @supports (-webkit-text-stroke: 2px #{$color}) or (text-stroke: 2px #{$color}) {
//     -webkit-text-stroke: 2px #{$color};
//     text-stroke: 2px #{$color};
//     text-shadow: none;
//   }
// }

// .offers::before {
//   @extend %offers__before-and-after;

//   @include -offers__before-and-after-stroke(rgba(255, 255, 255, 0.2));
// }

// .offers::after {
//   @extend %offers__before-and-after;

//   @include -offers__before-and-after-stroke(transparent);
// }
/*/////////////////////////////////////////////////////////////Tame the wild*/

.offers__column-text {
  float: top;
  border-radius: 1.618rem;
  max-width: 90%;
  margin: 0px auto;

  @media (max-width: 1440) {
    width: 95%;
  }

  @media (max-width: 391px) {
    width: 100%;

    /* Beispiel für $breakpoint-sm */
    .offers__column-text {
      float: none;

      padding-bottom: 3rem;
      margin: auto;
    }

    .offers__text--full {
      display: none;
    }

    .offers__text--short {
      display: block;
      width: 100%;
    }
  }
}
.offers__text-heading {
  color: $color-text;
  font-weight: 500;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 1rem;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: #447785;
    box-shadow: #1a3b44, 5rem;
    margin-bottom: 0.5rem;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  @media (max-width: 391px) {
    font-size: 1.4rem;

    width: 100%;
  }
}
.offers__text {
  color: $color-eigengrau-transparent-light;
  font-size: 1.1rem;
  text-align: justify;
  margin: 0px auto;

  @media (max-width: $breakpoint-lg) {
    font-size: 1rem;
    width: 39rem;
  }

  @media (max-width: $breakpoint-md) {
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 0.8rem;
  }
}

// Kontainer für Kards
.offers__card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem 0;

  border-radius: 1rem;

  @media (max-width: $breakpoint-sm) {
    padding-top: 0rem;
    padding-bottom: 2rem;
  }

  @media (max-width: 391px) {
    display: none; //// Standartkontaner soll ausgeblendet werden
  }
}

.offers__card {
  $-width: math.div(100%, 3.5);

  width: calc(#{$-width} - #{($-offers-card-margin * 2 + 0.002rem)});

  margin: ($-offers-card-margin) $-offers-card-margin 0 $-offers-card-margin;
  padding: 0 0 1rem 0;
  margin: 2rem;
  border-left: $-offers-card-border-width;
  border-right: $-offers-card-border-width;
  border-top: $-offers-card-border-width;

  // Abgerundete Ecken hinzufügen
  border-radius: 1rem; // Passt die Rundung der Ecken an
  overflow: hidden; // Schneidet Inhalte ab, die über die abgerundeten Ecken hinausgehen

  background-color: $color-eigengrau;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.1);
  position: relative;
  &:hover {
    box-shadow: 9px 9px 17px rgba(0, 0, 0, 0.5),
      -9px -9px 17px rgba(255, 255, 255, 0.1);
  }

  @media (max-width: $breakpoint-md) {
    $-width-md: (100% * 0.46);
    width: calc(#{$-width-md} - #{($-offers-card-margin * 2 + 0.001rem)});
    margin: 1.5rem;
  }

  @media (max-width: $breakpoint-sm) {
    width: calc(100% - #{($-offers-card-margin * 2 + 0.001rem)});
    margin: 1rem;
  }
  @media (max-width: 391px) {
    margin-top: 1rem;
  }
}

// Linie unten
// .offers__card::after {
//   content: "";
//   display: block;
//   position: absolute;
//   bottom: 0;
//   left: -$-offers-card-border-width;
//   right: -$-offers-card-border-width;
//   height: 0.75rem;
//   background-color: $color-primary;
//   border-left: $-offers-card-border-width solid
//     color.scale($color-primary, $saturation: -50%, $lightness: 25%);
//   border-right: $-offers-card-border-width solid
//     color.scale($color-primary, $saturation: -50%, $lightness: 25%);

//   @media (max-width: $breakpoint-sm) {
//   }
// }

.offers__image-container {
  position: relative;
  margin-top: -$-offers-card-border-width;
  margin-right: -$-offers-card-border-width;
  margin-left: -$-offers-card-border-width;
}

.offers__image-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  border-top: $-offers-card-border-width solid $-offers-card-border-color;
  border-right: $-offers-card-border-width solid $-offers-card-border-color;
  border-left: $-offers-card-border-width solid $-offers-card-border-color;
}

.offers__image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;

  background-image: linear-gradient(
    -$slope-incline,
    $color-eigengrau 49.7%,
    transparent 50.3%
  );
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media (max-width: $breakpoint-sm) {
    height: 5rem;
  }
}

.offers__image {
  width: 100%;
  filter: grayscale(10%);
}

.offers__content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.offers__content-heading {
  color: $color-secondary;
  font-size: 1.75rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offers__content-subheading {
  color: $color-primary;
  font-size: 1rem;
}

.offers__content-info {
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.204);
  border-bottom: 1px solid rgba(255, 255, 255, 0.204);
  display: flex;
  background-image: linear-gradient(
    90deg,
    transparent calc(50% - #{$-half-pixel-width}),
    rgba(255, 255, 255, 0.204) calc(50% - #{$-half-pixel-width}),
    rgba(255, 255, 255, 0.204) calc(50% + #{$-half-pixel-width}),
    transparent calc(50% + #{$-half-pixel-width})
  );
  background-repeat: no-repeat;
  background-size: 100% 75%;
  background-position: center center;
}

%offers__content-info-column {
  flex: 1 1 50%;
  color: $color-secondary;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.offers__content-info-duration {
  @extend %offers__content-info-column;
}

.offers__content-info-level {
  @extend %offers__content-info-column;
}

.offers__content-info-duration-text {
  padding-left: 0.33rem;
}

.offers__content-price-container {
  padding-top: 0.75rem;
  font-size: 1rem;
  color: $color-secondary;
}

.offers__content-price {
  display: block;
  color: $color-primary;
  font-weight: 500;
  font-size: 2rem;
  line-height: 0.9em;
}

//Rückseite
.offers__card-hover {
  position: absolute;
  top: -$-offers-card-border-width;
  left: -$-offers-card-border-width;
  right: -$-offers-card-border-width;
  bottom: -$-offers-card-border-width;
  z-index: 2;

  background-color: $color-eigengrau-transparent;

  // Die Linie in der mitte
  // background-image: linear-gradient(
  //     90deg,
  //     transparent calc(50% - #{$-half-pixel-width}),
  //     white calc(50% - #{$-half-pixel-width}),
  //     white calc(50% + #{$-half-pixel-width}),
  //     transparent calc(50% + #{$-half-pixel-width})
  //   ),
  //   linear-gradient(
  //     135deg,
  //     $color-primary 0%,
  //     color.scale($color-primary, $lightness: -20%) 100%
  //   );
  ///////////////////////////////////////////////////////

  background-repeat: no-repeat, no-repeat;
  background-position: center top, center center;
  background-size: 100% calc(50% - 4rem), 100% 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  .offers__card:hover & {
    opacity: 1;
  }

  // Button Styling innerhalb der Hover-Karte
  .contact-button {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.4);
      transform: translateY(-2px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    }
  }
}
