@use "../../abstracts" as *;

$-services-background-color: $color-secondary-dark;

$-services-icon-size: 0rem;
$-services-animation-duration: 0.25s;

.glass-services {
  &::before {
    content: "";
    position: absolute;
    top: 800px;
    left: 1550px;
    width: 320px;
    height: 420px;
    background: linear-gradient(120deg, #ffa73c 50%, #efe150 40%, #6a5acd 100%);
    clip-path: polygon(0 0, 100% 10, 100% 100%, 20 90%);
    opacity: 0.4;
    filter: blur(150px);
  }
}

.services {
  position: relative;
  padding: 2rem 0;
  z-index: 10;

  @media (max-width: 391px) {
    padding-top: 1.5rem;
  }
}

.services__container {
  @include make-container();

  & {
    flex-wrap: wrap;
    border-radius: 1rem;
    margin: 0 auto;
  }

  @media (max-width: 391px) {
    max-width: 99%;
    padding-top: 0rem;
    margin: 0 auto;
    z-index: 1;
  }
}

.services__heading {
  color: $color-text;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: $color-secondary;
    margin-bottom: 0.5rem;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
      background-color: #5f632c;
    }
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 1.4rem;
  }
}

.services__column-text {
  float: top;
  padding-top: 1rem;
  border-radius: 1.618rem;
  margin: 0px auto;
  max-width: 90%;

  @media (max-width: 1440) {
    width: 95%;
  }

  @media (max-width: 391px) {
    width: 100%;

    .services__column-text {
      float: none;
      padding-bottom: 3rem;
      margin: auto;
    }

    .services__text--full {
      display: none;
    }

    .services__text--short {
      display: block;
      width: 100%;
    }
  }
}

.services__column-text {
  float: top;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-radius: 1.618rem;
  margin: 0px auto;
  max-width: 90%;

  @media (max-width: 1440) {
    width: 95%;
  }

  @media (max-width: 391px) {
    width: 100%;

    .services__column-text {
      float: none;
      padding-bottom: 3rem;
      margin: auto;
    }

    .services__column-text--full {
      display: none;
    }

    .services__column-text--short {
      display: block;
      width: 100%;
    }
  }
}
.services__text {
  display: flex;
  flex-wrap: wrap;
  color: $color-text;
  font-size: 1.1rem;
  margin: 0px auto;
  margin-bottom: 1rem;

  @media (max-width: $breakpoint-lg) {
    font-size: 1rem;
    width: 39rem;
  }

  @media (max-width: $breakpoint-md) {
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 0.8rem;
  }
}

$-offers-card-margin: 0.66rem;

// Konteiner für kards
.services__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  margin: 0px auto;
  max-width: 96%;
  padding-bottom: 2rem;

  @media (max-width: 391px) {
    display: none;
  }
}

// Einzelne Card
.services__card {
  flex: 0 0 calc(33.333% - 4rem);
  position: relative;
  margin: 2rem;
  height: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5),
    -8px -8px 16px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6),
      -10px -10px 20px rgba(255, 255, 255, 0.1);
  }
}

.services__card-icon-background {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s ease-in-out, filter 0.4s ease-in-out;

  .services__card:hover & {
    background-color: $color-eigengrau-transparent-light;
    filter: blur(2px);
  }
}

.services__card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.services__card-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: $color-text;
  padding: 3rem 1rem 0 1rem;
  text-shadow: 0 0 0.125rem black;
 
  transform: translate(0, calc(100% - 7.25rem));
  transition: transform $-services-animation-duration ease-in-out;

  .services__card:hover & {
    transform: translate(0, 0);
  }
}

.services__card-heading {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.services__card-location {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  display: flex;
}

.services__card-location-icon {
  font-size: 1.25rem;
}

.services__card-location-text {
  line-height: 1.9rem;
  padding-left: 0.15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.services__card-desc {
  font-size: 0.8rem;
  padding: 0.9rem 0;
  background-image: linear-gradient(
    90deg,
    $color-eigengrau 60%,
    transparent 60%
  );
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100% 0.125rem;
}
